:root {
    --primary_color: rgb(20, 29, 47);
    --secondary_color: rgb(30, 42, 71);
    --text-color: white;
    --box-shadow: rgba(70, 96, 187, 0.2) 0px 16px 30px -10px;
}

.light-mode {
    --primary_color: #F6F8FF;
    --secondary_color: #FEFEFE;
    --text-color: black;
    --box-shadow: rgba(70, 96, 187, 0.2) 0px 16px 30px -10px;
}

.dark-mode {
    --primary_color: rgb(20, 29, 47);
    --secondary_color: rgb(30, 42, 71);
    --text-color: white;
    --box-shadow: rgba(70, 96, 187, 0.2) 0px 16px 30px -10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    background-color: var(--primary_color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 5px solid white;
    display: grid;
    place-items: center;
}
.header{
    width: 80%;
    margin: 10px 0px;
    font-size:larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    cursor: pointer;
}
.search-box{
    display: block;
    width: 80%;
    height: 60px;
    cursor: pointer;

}
.input{
    
    /* width: 1000%; */
    background-color:var(--secondary_color);
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow:var(--box-shadow)
}
.search{
    background-color: var(--secondary_color);
    align-items: center;
    align-self: center;
}
i{
    background-color: transparent;
    font-size: 1.3rem;
    color: #0079ff;
}
input{
    padding: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
    color: var(--text-color);

}
.button{
    background-color: #0079ff;
    width: 100px;
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.3rem; 
}
.user-details{
    width: 80%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary_color);
    margin-top: 30px;
    box-shadow:var(--box-shadow);
    border-radius: 10px;
    flex-wrap: nowrap;
    text-wrap: wrap;
    overflow: hidden;
}
.user-img {
    /* margin: 20px; */
    height: auto;
    width: 50%;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: transparent;
    flex-direction: column;
    padding-bottom: 20%;
}

.user-img img {
width: 50%;
height: 45%;
object-fit: cover;
border-radius: 50%;

}
.data{
    width: 80%;
    background-color: inherit;
    margin: 20px;
  
}
.uname{
    display: flex;
    justify-content: space-between;

}
.name{
    background-color: inherit;
    font-size: 2rem;
    font-weight: bold;

}
a{
    background-color: inherit;
    color: #0079ff;
    text-decoration: none;
    font-size: 1.3rem;

}
.repos{
    width: 90%;
    height: 30%;
    background-color: var(--primary_color);
    border-radius: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;

}
.links{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    gap: 2rem;
}

@media (max-width: 1260px){
    .user-details{
        display: grid;
        place-items: center;
        height: 100%;
        margin-top: 80px;
       
    }
    .user-img{
        margin: 0;
        padding-bottom: 0px;
    }
    .user-img img{
        width: 30%;
        height: 25%;
    }

    .repos{
        width: 100%;
        padding: auto;
    }
    body,a,i{
        font-size: medium;
    }
    .name{
        font-size: 1.5rem;
    }
   

}
@media (max-width:830px) {

    .data{
        justify-content: start;
    }
    .search-box{
        width: 90%;
    }
    .header{
        width: 90%;
    }
    input{
        width: 70%;
    }
    .button{
        height: 100%;
    }
    .user-details{
        width: 90%;
        display: grid;
        place-items: center;
        gap: 0px;
        padding: 0%;
    }
    .repos{
        justify-content: space-around;
        font-size: medium;
    }

    
    body,a,i{
        font-size: medium;
    }
    .name{
        font-size: 1.5rem;
    }
    .user-img{
        margin: 0px;
        padding-bottom: 0px;
    }
    .user-img img{
        width: 30%;
        height: 25%;
    }
}
